/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html,body{
	height:100%;
	width:100%;
	overflow-y: hidden;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#8B4513;
    font-family:Arial;
    font-size:12px;
    height:100%;
    margin:0px;
    text-transform:uppercase;
    width:100%;
	color:#FFF;
}
a,
a:hover,
a:visited{
	color:#FFF;
	text-decoration:none;
	font-size:30px;
	display:block;
	margin:auto;
	vertical-align:middle;
	text-align:center;
}
h1 {
	background-color: #352814;
    font-size:24px;
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:5px 0px;
    text-align:center;
	position:fixed;
	width: 100%;
	text-align:center;
}
#modoVisual,#revelarGato{
	background-image: url(../img/olho.png);
	background-repeat: no-repeat;
	background-size:contain;
	background-position:50%;
	position:fixed;
	bottom:0;
	left:0;
	height:50px;
	width:14%;
	border: solid 1px #FFF;
	border-radius:15px;
	z-index:2;
}
#retornar{
	background-image: url(../img/seta-branca.png);
	background-repeat: no-repeat;
	background-size:contain;
	background-position:50%;
	position:fixed;
	top:0;
	left:0;
	height:50px;
	width:14%;
	border: solid 1px #FFF;
	border-radius:15px;
	z-index:2;
}
#infoPage{
	background-image: url(../img/excl.png);
	background-repeat: no-repeat;
	background-size:contain;
	background-position:50%;
	border: solid 1px #FFF;
	border-radius:15px;
	position:fixed;
	top:0;
	right:0;
	height:50px;
	width:14%;
	z-index:2;
}
.base-botoes{
	overflow:hidden;	
	height: 50%;
	width: 100%;
}
.base-botoes a{
	background-color: #BDB76B;
    width: 100%;
    height: 100%;
    line-height: 200px;
    border: 1px solid #FFF;
}
.base-botoes a div{
	white-space: normal;
    line-height: 1;
    text-align: center;
	vertical-align:middle;
	display:inline-block;
	width:100%;
}
.base-jogo{
	height:90%;
}

.base-creditos{
	padding-top:50px;
	text-align: center;
}
.base-creditos h2{
	text-decoration:underline;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.statusDevice{
	width:15px;
	height:15px;
	border-radius:15px;
	background-color:red;
	position:fixed;
	bottom:0;
	right:0;
}

.ocultar *{
	opacity: 0;
}

.hidden{
	display: none;
}

.base-setas{
	width: 100%;
	height: 50%;
}
.base-setas tbody,.base-setas tr{
	width: 100%;
	height: 100%;
}

#btnEsq,#btnDir{
	height: 100%;
	width: 50%;
	background-color: #7a561c;
    border-radius: 0;
    border: 1px solid #FFF;
}
#btnEsq>div,#btnDir>div{
	font-size: 40px;
    width: 100%;
    text-align: center;
}




